<footer>
  <div class="wrapper">
    <ul class="social-icons-ul">
      <li>
        <a href="mailto: grigoria.pontiki@gmail.com" target="_blank" class="icon-email"></a>
      </li>
      <li>
        <a href="https://twitter.com/grigoriap" target="_blank" class="icon-twitter"></a>
      </li>
      <li>
        <a href="https://gr.linkedin.com/in/grigoria-pontiki-ab93a939" target="_blank" class="icon-linkedin"></a>
      </li>
      <li>
        <a href="https://github.com/grigoria" target="_blank" class="icon-github"></a>
      </li>
    </ul>
  </div>
</footer>
