// Colors

$white: #fefefb;  
$grey: #f6f6f6;
$grey1: #565656;
$grey2: #444;
$grey3: #333;
$grey4: #ccc;
$grey5: #999;
$grey6: #808080;
$black: #282828;

$fuchsia: #EE5D88;
$yellow: #FCD920;

$link: $fuchsia;
$linkedin: #4875b4;


// Mixins

@mixin transition($p, $t, $m) {
  -webkit-transition: $p $t $m;
  transition: $p $t $m;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// Grid

$vr: 40px;

body {
  background: $white;
}

p,
li {
  color: $black;
  line-height: 1.5;
}

a,
a:visited {
  color: $link;
  text-decoration: none;
}

a:hover {
  color: $yellow;
  @include transition(all, .3s, ease);
}
