// Fonts

$about-me-font: "Source Sans Pro", serif; //about-me
$paragraph-font: "Source Sans Pro", sans-serif; //paragraphs
$headings-font: 'Oswald', sans-serif; //headings
$code-font: "Courier New", monospace;

// Iconfonts

@font-face {
  font-family: 'blog';
  src: url('../font/blog.eot?40712734');
  src: url('../font/blog.eot?40712734#iefix') format('embedded-opentype'),
       url('../font/blog.woff?40712734') format('woff'),
       url('../font/blog.ttf?40712734') format('truetype'),
       url('../font/blog.svg?40712734#blog') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "blog";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
 
.icon-github:before { content: '\e800'; } /* '' */
.icon-tag:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-email:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
