// POSTS

#posts {

	article {

		.sidebar {
      float: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: $vr;
      position: relative;

      .tweet-this {
        float: left;
      }
    }

    h4 {
      margin: 40px 0 10px;
      line-height: 1.5;
    }

    .tags {
      float: left;
    }

    .content {
      clear: both;
      margin-top: 90px;

      > * {
        margin-left: 0;
      }
    }
	}
}
