// Animations 

@-moz-keyframes slideIn { // Slide In
    0% {
      top: -60px;
      opacity: 0;
    }

    100% {
      opacity: 1;
      top: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
      top: -60px;
      opacity: 0;
    }

    100% {
      opacity: 1;
      top: 0;
    }
}

@-o-keyframes slideIn {
    0% {
      top: -60px;
      opacity: 0;
    }

    100% {
      opacity: 1;
      top: 0;
    }
}

@keyframes slideIn {
    0% {
      top: -60px;
    }
    100% {
      top: 0;
    }
}

// Typography

p {
  font-size: 16px;
  margin-bottom: 1.3em;
}

::selection {
  background: $green;
  color: $white;
}

::-moz-selection {
  background: $green;
  color: $white;
  
}

ol {
  list-style-position: inside;
}

// Layout

.wrapper {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

em {
  font-style: italic;
}

// Code

.highlight {
  display: block;
  background: #404040;
  padding: $vr $vr/2;
  margin: $vr 0;
  color: $white;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 3px;
  font-family: monaco, sans-serif;
}

.highlight .hll { background-color: #ffc; }
.highlight .gd { color: #2e3436; background-color: #0e1416; }
.highlight .gr { color: #eeeeec; background-color: #c00; }
.highlight .gi { color: #babdb6; background-color: #1f2b2d; }
.highlight .go { color: #2c3032; background-color: #2c3032; }
.highlight .kt { color: #e3e7df; }
.highlight .ni { color: #888a85; }
.highlight .c,.highlight .cm,.highlight .c1,.highlight .cs { color: #8D9684; }
.highlight .err,.highlight .g,.highlight .l,.highlight .n,.highlight .x,.highlight .p,.highlight .ge,
.highlight .gp,.highlight .gs,.highlight .gt,.highlight .ld,.highlight .s,.highlight .nc,.highlight .nd,
.highlight .ne,.highlight .nl,.highlight .nn,.highlight .nx,.highlight .py,.highlight .ow,.highlight .w,.highlight .sb,
.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .sr,
.highlight .s1,.highlight .ss,.highlight .bp { color: #C1C2C3; }
.highlight .k,.highlight .kc,.highlight .kd,.highlight .kn,.highlight .kp,.highlight .kr { color: #729fcf; }
.highlight .nt { color: #FC1F70;}
.highlight .cp,.highlight .gh,.highlight .gu,.highlight .na,.highlight .nf { color: #E9A94B ; }
.highlight .m,.highlight .nb,.highlight .no,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,
.highlight .il { color: #8ae234; }
.highlight .o { color: #989DAA; }
.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi { color: #fff; }

// Inline code

code:not(.language-css) {
  background: $grey;
  padding: 0 3px;
  font-family: $courier;
  font-size: 18px;
}

blockquote {
  border-left: 7px solid $grey4;
  margin: $vr/2 0;
  padding: $vr/4;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 19px;
  line-height: 1.6;
  font-family: $freight;
  color: $grey3;
  font-style: italic;

  &:before {
    color: $grey4;
    content: open-quote;
    font-size: 60px;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    font-style: normal;
  }
}

.jsfiddle {
  margin: 40px 0;
}

// General classes

.cf {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.is-hidden {
  display: none;
}

.is-visible {
  display: block;
}

.left {
  float: left !important;
}

a.btn {
  float: right;
  background: $link;
  border-bottom: 2px solid darken($link, 15%);
  color: $white;
  padding: $vr/4 $vr/2;
  font-family: $franklin;
  font-size: 19px;

  &:hover {
    background: $green;
    border-bottom: 2px solid darken($green, 15%);
  }
}

// Tag

.icon-tag,
.icon-calendar {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: $tag;
  margin-right: $vr/2;
  padding-left: 20px;

  &:before {
    position: absolute;
    top: 4px;
    left: 0;
  }
}

// Header

header {
  width: 100%;
  background: $black;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 37px;
  font-family: $freight;

  & + * {
    padding-top: 55px;
  }

  h1 {
    font-size: 22px;
    line-height: 29px;
    margin: 2px 10px 0 0;

    a,
    a:visited {
      @include transition(all, 0, ease);
      color: $white;
    }
  }

  h2 {
    margin-top: 11px;
    font-size: 15px;

    a,
    a:visited {
      @include transition(all, 0, ease);
      color: $white;
    }
  }

  h1,
  h2 {
    float: left;
    color: $white;
    font-weight: 300;
  }
}

// Footer

footer {
  text-align: center;
  padding-top: $vr/2;
  border-top: 1px solid lighten($green, 30%);

  &.wrapper {
    margin-top: $vr*2;
  }

  p {
    font-size: 13px;
    color: $green;
    font-family: $freight;

    em {
      font-style: italic;
    }
  }
}

// Social links in header

.social-header {
  float: right;

  li {
    float: left;
    margin: 0 7px;

    &:first-child a {
      background: $email;
      -webkit-animation: slideIn .6s;
    }

    &:nth-child(2) a {
      background: $twitter;
      padding: 11px 8px 9px;
      -webkit-animation: slideIn .7s;
    }

    &:nth-child(3) a {
      background: $linkedin;
      padding: 10px 7px 10px 9px;
      -webkit-animation: slideIn 1s;
    }

    &:nth-child(4) a {
      background: $github;
      font-size: 25px;
      padding: 6px 3px 7px 4px;
      -webkit-animation: slideIn 1s;
    }

    a {
      display: block;
      position: relative;
      border-radius: 100%;
      padding: 10px 8px;
      color: $white;
      font-size: 18px;

      &:hover {
        background: $green;
      }
    }
  }

  #posts & {
    display: block;
  }
}

// Main Article 

article {
  margin-bottom: $vr;

  h4 {
    font-family: $franklin;
    color: $grey2;
    font-size: 34px;
  }

  p,
  ul,
  ol {
    font-size: 20px;
    line-height: 1.5;
    font-family: $freight;
    color: $grey3;
  }

  ul,
  ol {
    list-style-position: inside;

    li {
      margin-bottom: $vr/4;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}

// POSTS

#posts {

  header {
    background: $fuchsia;

    &:after {
      width: 100%;
      height: 30px;
      position: absolute;
      bottom: -30px;
      background: -moz-linear-gradient(top,  rgba(254,254,251,1) 0%, rgba(254,254,251,0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,251,1)), color-stop(100%,rgba(254,254,251,0)));
      background: -webkit-linear-gradient(top,  rgba(254,254,251,1) 0%,rgba(254,254,251,0) 100%);
      background: -o-linear-gradient(top,  rgba(254,254,251,1) 0%,rgba(254,254,251,0) 100%);
      background: -ms-linear-gradient(top,  rgba(254,254,251,1) 0%,rgba(254,254,251,0) 100%);
      background: linear-gradient(to bottom,  rgba(254,254,251,1) 0%,rgba(254,254,251,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefb', endColorstr='#00fefefb',GradientType=0 );
    }
  }

  article {

    h4 {
      margin-top: $vr*1.5;
      font-size: 39px;
      margin-bottom: $vr*1.5;
    }

    h5 {
      font-size: 24px;
      font-family: $freight;
      color: $grey2;
      padding-bottom: $vr/2;
      margin: $vr 0 $vr/2;
      border-bottom: 1px solid $grey4;
    }

    .sidebar {
      float: left;
      width: 200px;
      margin-right: -100%;
    }

    .content {
      width: 100%;
      margin-bottom: $vr*1.5;

      > * {
        margin-left: 240px;
      }

      p:first-of-type {
        font-family: $neuton;
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: $vr;
      }
    }
  }

  .previous-article {
    float: left;
    padding-left: $vr/2;
    text-align: left;

    &:after {
      content: "\2039";
      left: 0;
    }
  }

  .next-article {
    float: right;
    padding-right: $vr/2;
    text-align: right;

    &:after {
      content: "\203A";
      right: 0;
    }
  }
}


/* Media Queries: Tablet devices overwrite 641px...960px */
 
@media only screen and (max-width:960px) {
  @import "general_tablet";
}

/* Media Queries: Tablet devices overwrite 641px...960px */
 
@media only screen and (max-width:640px) {
  @import "general_mobile";
}


