.footer {
  background: $color-stardust;
  padding: 60px 0 80px;
  text-align: center;

  h2 {
    color: $color-white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  p {
    color: $color-white;
  }
}

@media only screen and (max-width: 640px) {

  .footer {
    padding: 40px 0 60px;
  }
}
