$kepler: "kepler-std", serif;
$nimbus: "nimbus-sans",sans-serif;

#cv {
  color: #444;

  &.wrapper {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 40px;
  }

  .about-me {
    font-family: $kepler;
    color: $primary-gray;
    font-size: 22px;
    font-weight: 300;
    margin: 40px 0;

    &:nth-of-type(2) {
      margin-bottom: 20px;
    }
  }
}

header {
  padding: 60px 0;

  h1 {
    font-family: $kepler;
    font-weight: 300;
    font-size: 50px;
    color: $color-gray34;
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey4;
    text-align: center;
  }

  ul {
    font-family: $nimbus;
    text-align: center;

    li {
      display: inline-block;
      font-size: 14px;
      padding-left: 20px;
      position: relative;
      margin-right: 40px;
      color: $color-gray34;

      &::before {
        color: $primary-color;
        position: absolute;
        top: 2px;
        left: 0;
      }

      &:nth-child(2) {
        padding-left: 25px;

        &::before {
          top: 4px;
        }
      }

      &:nth-child(3) {
        padding-left: 22px;

        &::before {
          font-size: 11px;
          top: 6px;
        }
      }

      &:nth-child(4) {
        padding-left: 23px;

        &::before {
          top: 4px;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      a,
      a:visited {
        color: $color-gray34;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

section {
  margin: 40px 0;
  font-size: 17px;
  line-height: 1.5;
  font-family: $nimbus;
  font-weight: 300;

  h2 {
    color: $primary-color;
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid $primary-color;
    text-transform: uppercase;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 10px;

    li {
      margin-bottom: 10px;

      a {
        color: $primary-gray !important;
        border-bottom: 1px dotted $primary-gray;
        transition: all 0.3s ease;

        &:hover {
          border-bottom-style: solid;
        }
      }
    }

    ul {
      padding-left: 40px;
      list-style-type: circle;
    }
  }

  dt {
    font-weight: 400;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  dd {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted $color-gray34;

    &:last-of-type {
      border-bottom: none;
    }
  }

  small {
    font-size: 14px;
  }
}

.linkedin {
  display: block;
  text-align: center;
  margin: 60px 0 40px;
}


/* Media Queries: MOBILE */

@media only screen and (max-width:680px) {

  #cv.wrapper {
    width: 98%;
  }
}
