.main {
  background: $color-white;

  .articles-list {

    article h2 {
      font-size: 1.4rem;
    }

    p {
      margin-bottom: 10px;
    }
  }

  .tags {
    margin-top: 10px;

    > span {
      display: inline;
    }
  }
}

/* Media Queries: Tablet devices overwrite 641px...960px */

@media only screen and (max-width:640px) {
  @import "index_mobile";
}
