/*
  Page about each blogpost
*/

.posts {

  .tags > li {
    display: block;
    margin-bottom: 10px;
  }

  article {

    h2 {
      margin-bottom: 40px;
    }

    h3,
    h4 {
      margin: 60px 0 30px;
      line-height: 1.4;
      font-size: 1.5rem;
      color: $primary-gray;
      padding-bottom: 10px;
      margin-top: 40px;
      margin-bottom: 30px;
    }

    h3 {
      border-bottom: 1px solid $grey4;
    }

    h4 {
      margin-bottom: 15px;
    }

    h5 {
      font-size: 1.2rem;
      color: #3e3e3e;
      padding-bottom: 10px;
      margin-top: 40px;
      margin-bottom: 15px;
      font-weight: 600;
    }

    p {
      margin-bottom: 30px;
    }

    .sidebar {
      float: left;
      width: 200px;
      margin-right: -100%;

      .tweet-this {
        margin-top: 20px;
      }
    }

    .content {
      width: 100%;
      margin-bottom: 60px;

      > * {
        margin-left: 200px;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .previous-article {
    float: left;
    padding-left: 20px;
    text-align: left;

    &::after {
      content: '\2039';
      left: 0;
    }
  }

  .next-article {
    float: right;
    padding-right: 20px;
    text-align: right;

    &::after {
      content: '\203A';
      right: 0;
    }
  }
}

#disqus_thread {
  margin-top: 80px;
}

.jsfiddle {
  margin: 40px 0;
}

.embed-tweet {
  margin-bottom: 40px;
}

@media only screen and (max-width: 960px) {
  @import 'post_tablet';
}

@media only screen and (max-width: 640px) {
  @import 'post_mobile';
}
