body,
html {
  background: $color-white;
  height: 100%;
  font-size: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 780px;
  overflow: hidden;
  width: 96%;
}

@media only screen and (max-width: 640px) {
  @import 'grid_mobile';
}
