.tags {

  .icon-tag,
  .icon-calendar,
  .icon-book {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: $color-gray34;
    margin-right: 25px;
    padding-left: 25px;
    vertical-align: top;

    &::before {
      position: absolute;
      top: 3px;
      left: 0;
    }
  }

  .icon-tag span {

    &::after {
      content: ',';
    }

    &:last-child::after {
      content: '';
    }
  }
}

