body {
  font-family: $text-font;
  -webkit-font-smoothing: antialiased;
}

p,
ul li,
ol li {
  color: $color-text;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.4em;
}

a,
a:visited {
  color: $secondary-link;
}

a:hover {
  transition: all 0.1s ease;
  text-decoration: none;
}

::selection {
  background: #fde8e8;
}

::-moz-selection {
  background: #fde8e8;
}

ol {
  list-style-position: inside;
}

em {
  font-style: italic;
}

.plus-link,
.plus-link:visited {
  font-size: 14px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
