p,
ul li,
ol li {
  color: $color-text;
  font-family: $text-font;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.4em;
  -webkit-font-smoothing: antialiased;
}

a,
a:visited {
  color: $secondary-link;
}

a:hover {
  transition: all 0.1s ease;
  text-decoration: none;
}

::selection {
  background: $yellow;
}

::-moz-selection {
  background: $yellow;
  color: $color-white;
}

ol {
  list-style-position: inside;
}

em {
  font-style: italic;
}

.plus-link,
.plus-link:visited {
  color: $secondary-link;
  font-family: $text-font;
  position: relative;
  padding-left: 15px;
  font-size: 14px;

  &:before {
    content: '+';
    left: 0;
    position: absolute;
    top: 1px;
  }
}
