/*
  FONTS
*/

$text-paragraph: 'Montserrat', sans-serif;
$text-secondary: 'Lato', sans-serif;
$code-font: "Courier New", monospace;

/*
  COLORS
*/

$color-white: #fff;
$color-white-bg: #f9f9f9;
$color-grey80: #333;
$color-grey55: #707070;
$color-grey18: #ccc;
$color-naxos: #7EF8CC;
$color-pint: #317D71;
$color-cherry: #E2183D;
$color-stardust: #2C2C4B;

/* OLD */

$primary-gray: #3e3e3e;
$primary-color: #6D5B97;
$secondary-color: #D74061;

$primary-link: $primary-color;
$secondary-link: $secondary-color;
$color-text: $primary-gray;

$color-gray34: #575757;

$grey4: #ccc;

$yellow: #FCB239;

$color-linkedin: #4875b4;
